@import '../../scss/index.scss';

.sidebarOption {
    color:$grey;
    height:40px;
    cursor: pointer;
    transition:0.2s color ease-in;
    @include flex-center();
    &:hover {
        color:$white;
    }
    &__icon {
        margin-right: 15px;
    }
    &__text {
        font-size: 14px;
    }
} 