@import "../../scss/index.scss";

.sidebar {
  border: 1px solid $black;
  height: 100vh;
  background: #040404;
  color: $white;
  min-width: 232px;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  // Sidebar top
  &__top {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 100%;
    max-width: 60px;
    height: auto;
    filter: invert(1);
    &-text {
      text-transform: capitalize;
      font-size: 1.6rem;
    }
  }
  &__title {
    font-size: 12px;
    text-transform: uppercase;
  }
  &__playlists {
    max-height: 50vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.5rem;
      &-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background: transparent;
      }
      &-thumb {
        background-color: $grey;
        border-radius: 10px;
        height: 0.3rem;
      }
    }
  }
  // Sidebar top end
  hr {
    width: 90%;
    margin: 10px 0;
    border: 0;
    height: 1px;
    background: $grey;
  }
}
