@import "../../scss/index.scss";

.footer {
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background: #282828;
  padding: 0 16px;
  @include flex-center();
  align-items: center;
  // width: 97%;
  &__left {
    flex: 0.3;
  }
  &-album {
    @include flex-center();
    gap: 1rem;
    color: $white;
    &__image{
      width: 56px;
      height: auto;
    }
    &__info{
      display: flex;
      flex-direction: column;
    }
    &__song-name {
      padding-bottom: 0.2rem;
      font-size: 14px;
    }
    &__artist-name {
      font-size: 12px;
      color:$grey;
    }
    &__icons{
      padding-left: 15px;
      svg{
        margin-right: 13px;
        font-size: 18px;
        color: $grey;
        &:hover{
          color: $white;
        }
      }
    }
  }
  &__center {
    flex: 0.4;
    color: $white;
    @include flex-center();
    justify-content: space-between;
    // padding: 0 100px;
    .player-controls {
      width: 100%;
      margin: auto;
      &__buttons {
        margin: auto;
        max-width: 224px;
        @include flex-center();
        justify-content: space-between;
        .control-button {
          font-size: 20px;
        }
      }
      &__bar {
        @include flex-center();
        gap: 1rem;
        text-align: center;
        background: transparent;
        font-size: 12px;
      }
    }
    .control-button__green {
        color: $grey;
        &:hover {
          color: $white;
        }
        &--big {
          font-size: 40px !important;
        }
      }
  }
  &__right {
    flex: 0.3;
    color: $white;
    align-items: center;
    svg{
      font-size: 20px;
    }
    &-inner {
      width: 220px;
      margin-left: auto;
    }
    .MuiSlider-root {
      color: $grey;
    }
  }
}
