.dot {
    &::before {
      content: ".";
      position: relative;
      margin: 0 4px;
    }
}

.underline {
    &:hover{
        text-decoration: underline;
        cursor: pointer;
        color:$white;
    }
}

.scale {
    &:hover{
        transform: scale(1.1);
    }
}